h1 {
	font-family: 'Lato', sans-serif;
}


.questions {
	font-family: sans-serif;
}

#quiz {
	margin-left: 10px;
}

#answer {
	visibility: hidden;
}

input {
	margin-bottom: 20px;
	display: block;
}

#radio {
	display: inline;
} 